# Stock Data Visualization Dashboard with Bokeh

## Getting stock data from pandas_datareader

In [3]:
from pandas_datareader import data
import datetime

In [11]:
# pandas_datareader doc: https://pandas-datareader.readthedocs.io/en/latest/remote_data.html#remote-data-yahoo
#AAPL: stock ticker for Apple

start=datetime.datetime(2021,12,20)
end=datetime.datetime(2021,12,27)
df1 = data.DataReader(name="AAPL", data_source="yahoo",start=start,end=end)
df1

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-12-20,170.580002,167.460007,168.279999,169.750000,107499100,169.750000
2021-12-21,173.199997,169.119995,171.559998,172.990005,91185900,172.990005
2021-12-22,175.860001,172.149994,173.039993,175.639999,92135300,175.639999
2021-12-23,176.850006,175.270004,175.850006,176.279999,68227500,176.279999
2021-12-27,178.470001,177.089996,177.085007,177.990005,20121168,177.990005

In [12]:
#GOOG: stock ticker for Google

start=datetime.datetime(2021,12,20)
end=datetime.datetime(2021,12,27)
df2 = data.DataReader(name="GOOG", data_source="yahoo",start=start,end=end)
df2

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-12-20,2852.209961,2805.000000,2813.592041,2848.030029,1013200,2848.030029
2021-12-21,2893.841064,2834.699951,2863.000000,2884.409912,977400,2884.409912
2021-12-22,2946.060059,2879.260010,2882.000000,2938.979980,921900,2938.979980
2021-12-23,2971.451904,2939.017090,2941.790039,2942.850098,690300,2942.850098
2021-12-27,2968.530029,2945.000000,2949.270020,2965.889893,145477,2965.889893

## Building Candlestick Chart

In [16]:
from bokeh.plotting import figure, show, output_file

start=datetime.datetime(2021,12,15)
end=datetime.datetime(2021,12,27)
df=data.DataReader(name="GOOG", data_source="yahoo",start=start,end=end)

In [24]:
p = figure(x_axis_type='datetime', width=1000, height=300)
p.title="Candlestick Chart"

#rectangles parameters:
# x_center
# y_center
# width in ms
# height

hours_12 = 12*60*60*1000

#we first create the rectangles corresponding to dates where
#the Close values were higher than the Open values
df_green = df[df.Close >= df.Open]
p.rect(df_green.index,(df_green.Open+df_green.Close)/2,hours_12,
       abs(df_green.Open-df_green.Close),fill_color="green",line_color="black")

#we now create the rectangles corresponding to dates where
#the Close values were lower than the Open values
df_red = df[df.Close < df.Open]
p.rect(df_red.index,(df_red.Open+df_red.Close)/2,hours_12,
       abs(df_red.Open-df_red.Close),fill_color="red",line_color="black")

output_file("CS.html")
show(p)

In [20]:
df_green

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-12-15,2950.344971,2854.110107,2887.320068,2947.370117,1364000,2947.370117
2021-12-17,2889.201904,2835.760010,2854.290039,2856.060059,2162800,2856.060059
2021-12-20,2852.209961,2805.000000,2813.592041,2848.030029,1013200,2848.030029
2021-12-21,2893.841064,2834.699951,2863.000000,2884.409912,977400,2884.409912
2021-12-22,2946.060059,2879.260010,2882.000000,2938.979980,921900,2938.979980
2021-12-23,2971.451904,2939.017090,2941.790039,2942.850098,690300,2942.850098
2021-12-27,2968.530029,2945.000000,2949.270020,2966.000000,159944,2966.000000